/*
font-family: 'Ceviche One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
  --primary-text-color: #ffffff;
  --primary-font-family: "Roboto", sans-serif;
  --link-font-family: "Montserrat", sans-serif;
  --background-color: #1b1b1b;
}

body {
  background: #202020;
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}

h1 {
  font-size: 72px;
  font-weight: bold;
}
p {
  font-weight: normal;
}
a {
  font-family: var(--link-font-family);
}

.hero {
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.hero h2 {
  font-weight: normal;
  line-height: 2;
}

.btn-branding {
  background: var(--primary-text-color);
  border-radius: 50px;
  color: #272142;
  font-size: 14px;
  line-height: 27px;
  padding: 18px, 30px, 18px, 30px;
}

.second-phase {
  background-color: var(--background-color);
  padding: 100px;
}
