/*
font-family: 'Ceviche One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
  --primary-text-color: #ffffff;
  --primary-font-family: "Roboto", sans-serif;
  --link-font-family: "Montserrat", sans-serif;
  --background-color: #1b1b1b;
}

body {
  background: #1b1b1b;
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  margin-top: 50px;
}

h1 {
  font-size: 72px;
  font-weight: bold;
}
h2 {
  font-size: 18px;
}
p {
  font-weight: normal;
  font-size: 18px;
}
a {
  font-family: var(--link-font-family);
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
}

a:hover {
  color: #f65282;
}

nav a {
  color: #ffffff !important;
}
nav a:hover {
  color: #f65282 !important;
}
nav .active {
  color: #f65282 !important;
}

.img-marcus {
  max-height: 100%;
  margin: 0 auto;
  display: block;
}
.nav-link {
  padding: 0 10px !important;
}
.hero {
  text-align: center;
}

.hero-background-image {
  background-image: url("../../gallery/marcusheadshot3.jpg");
  background-position: center;
  padding: 140px 0px;
}

.hero p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 3;
}

.hero h2 {
  font-weight: normal;
  line-height: 2;
  margin-top: 200px;
}

.btn-branding {
  background: var(--primary-text-color);
  border-radius: 50px;
  color: #272142;
  font-size: 14px;
  line-height: 27px;
  padding: 18px, 30px, 18px, 30px;
}

.hero-content {
  background-color: var(--background-color);
  padding: 50px 20px;
}

.hero-content h2 {
  color: #f65282;
  font-weight: bold;
  font-size: 24px;
}

.about-hero {
  background: var(--background-color);
  padding: 50px 20px;
  line-height: 80px;
  margin: 0 auto;
}

.about-me-links {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #f65282;
  font-weight: bold;
}

.about.hero h1 {
  font-size: 64px;
  padding: 30px 0px 30px 0px;
}

.p-about-marcus {
  line-height: 30px;
  font-size: 14px;
}
.about-contact-me-link a,
.book-button {
  color: #272142;
  text-decoration: none;
}

.icons-about-me-page:hover {
  cursor: pointer;
}
.coaching-hero,
.contact-hero {
  padding: 30px 0px 5px 0px;
}

.coaching-style-container h3 {
  font-size: 24px;
  color: #f65282;
}

.dynamic-list {
  margin-top: 50px;
}

.dynamic-list p {
  font-size: 14px;
}

.list-wrap {
  margin-right: 30px;
}

.col-coaching {
  background: #282323;
  max-height: 400px;
  margin: 0 auto;
  display: block;
}

.windtunnel-img img,
.skydive-img img {
  max-height: 400px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.contact-list {
  padding: 50px;
}
.contact-list h3 {
  color: #f65282;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.contact-list p {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 50px;
}

.book-button:hover {
  color: #f65282;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px;
  background-color: #282323;
}

footer .open-source-link {
  text-decoration: none;
  font-size: 16px;
  padding-right: 50px;
}

.footer-contact-page {
  padding-right: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  max-height: 20px;
  padding-left: 50px;
  padding-right: 10px;
}
.social-links {
  font-size: 16px;
}

@media (max-width: 576px) {
  body {
    margin-top: 20px;
  }
  h1 {
    font-size: 50px;
    line-height: 2;
  }
  p {
    font-size: 12px;
  }

  footer {
    padding: 15px 10px 15px;
  }
  footer .open-source-link {
    font-size: 12px;
    text-align: center;
  }

  .hero {
    text-align: center;
    padding: 40px 5px 30px;
  }

  .about-hero {
    padding: 0px 20px 0px 20px;
    text-align: center;
  }

  .icons-about-me-page {
    justify-content: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .coaching-style-container h3 {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .dynamic-list {
    line-height: 1;
    text-align: center;
  }

  .contact-list {
    padding: 30px;
  }

  .hero-content {
    padding-top: 0;
  }

  .hero-background-image {
    background-repeat: no-repeat;
  }
}
